name: Lint

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  swift-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: GitHub Action for SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
